In [82]:
import pandas as pd

gdp = pd.read_csv('../data/raw/gdp-per-capita-worldbank.csv')
life_expectancy = pd.read_csv('../data/raw/life-expectancy.csv')
child_mortality = pd.read_csv('../data/raw/child-mortality.csv')
human_development_index = pd.read_csv('../data/raw/human-development-index.csv')

gdp.info()

<class 'pandas.DataFrame'>
RangeIndex: 7240 entries, 0 to 7239
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Entity                          7240 non-null   str
 1   Code                            7240 non-null   str
 2   Year                            7240 non-null   int64
 3   GDP per capita                  7240 non-null   float64
 4   World region according to OWID  6785 non-null   str
dtypes: float64(1), int64(1), str(3)
memory usage: 282.9 KB

In [83]:
gdp.drop(columns=['World region according to OWID'], inplace=True)

gdp[gdp['Year'] >= 2020]['Year'].value_counts()

Year
2020    212
2021    212
2022    212
2023    210
2024    201
Name: count, dtype: int64

In [84]:
life_expectancy.info()

<class 'pandas.DataFrame'>
RangeIndex: 21565 entries, 0 to 21564
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Entity           21565 non-null  str
 1   Code             19609 non-null  str
 2   Year             21565 non-null  int64
 3   Life expectancy  21565 non-null  float64
dtypes: float64(1), int64(1), str(2)
memory usage: 674.0 KB

In [72]:
life_expectancy.dropna(inplace=True)

life_expectancy[life_expectancy['Year'] >= 2020]['Year'].value_counts()

Year
2020    238
2021    238
2022    238
2023    238
Name: count, dtype: int64

In [73]:
child_mortality.info()

<class 'pandas.DataFrame'>
RangeIndex: 16835 entries, 0 to 16834
Data columns (total 4 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Entity                                16835 non-null  str
 1   Code                                  16217 non-null  str
 2   Year                                  16835 non-null  int64
 3   Under-five mortality rate (selected)  16835 non-null  float64
dtypes: float64(1), int64(1), str(2)
memory usage: 526.2 KB

In [74]:
child_mortality.dropna(inplace=True)

child_mortality[child_mortality['Year'] >= 2020]['Year'].value_counts()

Year
2020    201
2021    201
2022    201
2023    201
Name: count, dtype: int64

In [85]:
human_development_index.info()

<class 'pandas.DataFrame'>
RangeIndex: 6604 entries, 0 to 6603
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Entity                          6604 non-null   str
 1   Code                            5974 non-null   str
 2   Year                            6604 non-null   int64
 3   Human Development Index         6604 non-null   float64
 4   World region according to OWID  5940 non-null   str
dtypes: float64(1), int64(1), str(3)
memory usage: 258.1 KB

In [86]:
human_development_index[human_development_index['Year'] >= 2020]['Year'].value_counts()

Year
2023    215
2020    214
2021    214
2022    214
Name: count, dtype: int64

2022 Year Chosen

In [87]:
gdp_2022 = gdp[gdp['Year'] == 2022].drop(columns=['Year'])
life_expectancy_2022 = life_expectancy[life_expectancy['Year'] == 2022].drop(columns=['Year'])
child_mortality_2022 = child_mortality[child_mortality['Year'] == 2022].drop(columns=['Year'])
human_development_index_2022 = human_development_index[human_development_index['Year'] == 2022].drop(columns=['Year', 'World region according to OWID'])

gdp_2022.info()

<class 'pandas.DataFrame'>
Index: 212 entries, 22 to 7237
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Entity          212 non-null    str
 1   Code            212 non-null    str
 2   GDP per capita  212 non-null    float64
dtypes: float64(1), str(2)
memory usage: 6.6 KB

In [88]:
life_expectancy_2022.info()

<class 'pandas.DataFrame'>
Index: 261 entries, 72 to 21563
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Entity           261 non-null    str
 1   Code             238 non-null    str
 2   Life expectancy  261 non-null    float64
dtypes: float64(1), str(2)
memory usage: 8.2 KB

In [89]:
child_mortality_2022.info()

<class 'pandas.DataFrame'>
Index: 212 entries, 65 to 16833
Data columns (total 3 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Entity                                212 non-null    str
 1   Code                                  201 non-null    str
 2   Under-five mortality rate (selected)  212 non-null    float64
dtypes: float64(1), str(2)
memory usage: 6.6 KB

In [90]:
human_development_index_2022.info()

<class 'pandas.DataFrame'>
Index: 214 entries, 32 to 6602
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Entity                   214 non-null    str
 1   Code                     193 non-null    str
 2   Human Development Index  214 non-null    float64
dtypes: float64(1), str(2)
memory usage: 6.7 KB

In [91]:
preprocessed_df = gdp_2022.merge(life_expectancy_2022, on=['Code', 'Entity'], how='inner')
preprocessed_df = preprocessed_df.merge(child_mortality_2022, on=['Code', 'Entity'], how='inner')
preprocessed_df = preprocessed_df.merge(human_development_index_2022, on=['Code', 'Entity'], how='inner')

preprocessed_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 6 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Entity                                186 non-null    str
 1   Code                                  186 non-null    str
 2   GDP per capita                        186 non-null    float64
 3   Life expectancy                       186 non-null    float64
 4   Under-five mortality rate (selected)  186 non-null    float64
 5   Human Development Index               186 non-null    float64
dtypes: float64(4), str(2)
memory usage: 8.8 KB

In [92]:
preprocessed_df.to_csv('../data/processed/level1_data.csv', index=False)